/*Important Instructions :- Please make a comment block before makin a new component */
/*--------------Importing Components Files---------------------*/
@import "creche";
@import "govt";
@import "components";
/*--------------Grid System---------------------*/
html{
    overflow-x: hidden;
}
body {
  display: grid;
  grid-template-areas: "header" "section" "footer";
  grid-template-rows: 100px 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 0;
}

#pageFooter {
  grid-area: footer;
}

#mainSection {
  grid-area: section;
}
/*-----------------Header-------------------------*/
#pageHeader {
  grid-area: header;
  background: -webkit-gradient(linear,left top, left bottom,from(rgb(117, 0, 117)),to(rgb(67, 0, 152)));
  background: linear-gradient(rgb(117, 0, 117),rgb(67, 0, 152));
  text-align: center;

  #satya {
    height: 80px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }

  #jecrc {
    height: 80px;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
  }

  #heading {
    font-size: 6vh;
    color: white;
    font-family: serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .heading_cont {
    margin-top: 10px;
  }
  @media screen and (max-width: 450px) {
    #heading {
      font-size: 23px;
    }
  }
  @media screen and (min-width:550px) and (max-width: 1366px) {
    #heading {
      font-size: 40px;
    }
  }
}
/*-----------------Footer-------------------------*/
#pageFooter {
  grid-area: footer;
  background: -webkit-gradient(linear,left top, left bottom,from(rgb(117, 0, 117)),to(rgb(67, 0, 152)));
  background: linear-gradient(rgb(117, 0, 117),rgb(67, 0, 152));
  text-align: center;
  #footer_text{
    color:white;
    font-size: 20px;
    margin-top: 10px;
  }
  .dev_name{
    color:rgb(246, 237, 10);
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    text-decoration: none;
  }
}

/*-----------------Home Page-------------------------*/
#homePage{
  a{
    text-decoration: none;
    cursor: pointer;    
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  .blocks{
    margin: 20px;
    text-align: center;
    min-height: 300px;
    max-width: 300px;
    min-width: 300px;
    padding: 2%;
    background: -webkit-gradient(linear,left top, left bottom,from(rgb(240, 2, 38)),to(rgb(194, 6, 17)));
    background: linear-gradient(rgb(240, 2, 38),rgb(194, 6, 17));
  h1{
    color: white;
    margin-top: 30%;
    font-weight: bold;
    font-family: serif;
    font-size: 50px;
  }
  }
}
